/*FONTS*/
@font-face {
  font-family: "Fairwater Script";
  src: url(/fonts/Fairwater\ Script\ Bold.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

/*TEXT STYLES*/
.text__title {
  font-weight: 600;
  font-size: 1.125rem;
  margin: 24px 0px 0px;
  color: var(--text-color-black);
}
p {
  font-size: 14px;
  margin: 0rem;
}
h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0rem;
}

/*FORMATTING*/
body {
  font-family: "Poppins";
  background: var(--background-color);
  margin: 0;
}

.main {
  padding: 24px 20px;
}

.background--mobile {
  top: 200px;
  left: 0;
  position: absolute;
  z-index: -1000;
  width: 100%;
}

/*COLORS*/
:root {
  --background-color: #fefefe;
  --white: white;
  --component-teal: #7ed1c6;
  --menu-teal: #7ed1c6;
  --component-border: #f2f2f2;
  --banner-color: #f0f7f6;
  --nav-color-gray: #979797;
  --nav-color-teal: #39c0b2;
  --text-color-black: #2b2b2b;
  --text-color-gray: #535353;
  --text-color-green: #0a6d61;
}

/*HEADER*/
.logo {
  font-family: "Fairwater Script", Arial, Helvetica, sans-serif;
}

.header__logo {
  margin-top: 24px;
  margin-left: 24px;
}

.header__banner {
  display: flex;
  justify-content: center;
  height: 38px;
  width: 100%;
  background-color: var(--banner-color);
  align-items: center;
}

.header__banner--icon {
  display: inline-block;
  padding-right: 8px;
}

a.header__banner--text {
  font-size: 14px;
  line-height: 38px;
  text-decoration: none;
  color: var(--text-color-green);
  padding-right: 24px;
  display: flex;
  vertical-align: center;
}
.header__banner a:hover {
  cursor: default;
}

/* NAVIGATION / FOOTER*/
.mobile-bottom-nav {
  background: white;
  border-top: 0.5px solid #f1f3f4;
  filter: drop-shadow(0px 1px 16px rgba(0, 0, 0, 0.05));
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.mobile-bottom-nav nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
}

.mobile-bottom-nav nav a {
  padding: 12px 16px;
  line-height: 1;
  /* color: inherit; */
  text-decoration: none;
}

.mobile-bottom-nav nav a:hover {
  text-decoration: none;
}

.mobile-bottom-nav nav a span {
  display: block;
  text-align: center;
}

.mobile-bottom-nav .bottom-navbar-text {
  padding-bottom: 0;
  font-size: 0.875em;
  font-weight: 600;
}

.mobile-bottom-nav a.active {
  color: var(--nav-color-teal);
}

.mobile-bottom-nav a.active svg {
  fill: var(--nav-color-teal);
}

.mobile-bottom-nav a.inactive {
  color: var(--nav-color-gray);
}

.mobile-bottom-nav a.inactive svg {
  fill: var(--nav-color-gray);
}

.button__primary {
  font-family: "Poppins";
  border: none;
  color: var(--white);
  position: fixed;
  width: 231px;
  height: 42px;
  /* padding: 0.56rem 3.25rem; */
  left: 20px;
  bottom: 98px;
  background: #e37463;
  border-radius: 28px;
}
.cart {
  position: fixed;
  right: 20px;
  bottom: 98px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*COMPONENTS*/

/*menu category*/

/*menu items*/
.menu__item {
  margin-top: 1rem;
  background-color: var(--white);
  border: 0.5px solid var(--component-border);
  /* box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.04); */
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 16px 8px;
  position: relative;
  padding-left: 125px;
}

/* .menu__item a{
	text-decoration:none;
} */

.menu a {
  text-decoration: none;
}

.menu__item--image {
  position: absolute;
  left: 0;
  top: 5px;
  height: 100px;
  width: auto;
}
.menu__item--name {
  width: 140px;
  color: var(--text-color-black);
}
.menu__item--price {
  margin-top: 8px;
  color: #8e8e8e;
  padding: 0;
}
.menu__item--plus {
  position: absolute;
  top: 16px;
  right: 18px;
  width: 36px;
  z-index: 10;
}
.menu__item--plus:hover {
  cursor: pointer;
}

/*menu categories*/
.menu__category--name {
  color: var(--white);
}
.menu__category--image {
  position: absolute;
  left: 0;
  top: 5px;
  height: 100px;
  width: auto;
}
.menu__category {
  margin-top: 1rem;
  border: 0.5px solid var(--component-border);
  height: 110px;
  /* box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.04); */
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 20px 24px;
  position: relative;
  padding-left: 125px;
}

.teal {
  background-color: var(--menu-teal);
}

/*overlay*/
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1050; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/*search*/
.search-form {
  position: relative;
  /* width: 100%; */
  height: 40px;
  border-radius: 8px;
  background: #f1f1f1;
  transition: all 0.3s ease;
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #828282;
  width: 255px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
  font-family: "Poppins";
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* -------------- item-featured-info ------------- */
/* .item-featured-info {position:relative; padding-left:125px;} */
/* .item-featured-info img{ position:absolute; left:0; top: -11.5px; height:100px; width: auto;} */
/* .item-featured-info img{font-size:24px; font-weight:normal; line-height: inherit;
vertical-align: inherit;} */
.item-featured-info h3 {
  font-size: 18px;
  color: #40454d;
  margin-bottom: 5px;
}
/* .item-featured-info p{color:#8e8e8e; padding:0} */
